<div>
    <md-toolbar layout="row" layout-align="end center">
        <md-button href="#/contractList" class="md-accent md-raised">
          Home
          </md-button>
        <div class="md-toolbar-tools">
            <span>Dispatch Order Details</span>
        </div>
    </md-toolbar>

<div class ="container" layout="row" layout-align="center end">
  <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 1</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            {{dispatchOrderId}}
          </p>
        </md-card-content>

    </md-card>
    </div>
      <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 2</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            Transaction details
          </p>
        </md-card-content>

    </md-card>
    </div>
      <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 3</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            Transaction details
          </p>
        </md-card-content>

    </md-card>
    </div>
      <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 4</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            Transaction details
          </p>
        </md-card-content>

    </md-card>
    </div>
      <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 5</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            Transaction details
          </p>
        </md-card-content>

    </md-card>
    </div>
      <div flex-xs>
    <md-card>
      <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Stage 6</span>
          </md-card-title-text>
    </md-card-title>
      <md-card-content>
          <p>
            Transaction details
          </p>
        </md-card-content>

    </md-card>
    </div>
  
</div>	

<div layout-gt-xs layout="row" layout-align="center">

<md-card flex>

  <md-card-header>
      <md-card-header-text>
        <span class="md-title">Order Info</span>
      </md-card-header-text>
  </md-card-header>
  
  <div layout="row" layout-align="center">    
  <md-card-title >
      <md-card-title-text> 
        <span>Order ID</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.dispatchOrderId}} </span>
      </md-card-title-text>
  </md-card-title>
  <md-card-title>
      <md-card-title-text> 
        <span >Buyer</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.customer}} </span>
      </md-card-title-text>
  </md-card-title>
  <md-card-title>
      <md-card-title-text> 
        <span>Transporter</span> 
       </md-card-title-text>
       <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.transporter}} </span>
      </md-card-title-text>        
  </md-card-title>

  <md-card-title>
      <md-card-title-text> 
        <span> Part# </span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.partNumber}} </span>
      </md-card-title-text>
  </md-card-title>
  
  </div>
  <div layout="row" layout-align="center">    
  <md-card-title >
      <md-card-title-text> 
        <span>Quantity</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.quantity}} </span>
      </md-card-title-text>
  </md-card-title>
  <md-card-title>
      <md-card-title-text> 
        <span>Source</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.source}} </span>
      </md-card-title-text>
  </md-card-title>
  <md-card-title>
      <md-card-title-text> 
        <span>Destination</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.customer}} </span>
      </md-card-title-text>
  </md-card-title>
  <md-card-title>
      <md-card-title-text> 
        <span>Delivery term</span>
      </md-card-title-text>
      <md-card-title-text> 
        <span class="md-subhead"> {{dispatchOrderDetails.deliveryTerm}} </span>
      </md-card-title-text>
  </md-card-title>
  
  </div>  

</md-card>
</div>

<div layout = "row" >
<md-card flex>
  <md-card-header>
      <md-card-header-text>
        <span class="md-title">Document Details</span>
      </md-card-header-text>
  </md-card-header>
  <md-card-content>

  <md-list-item>
    <p> Invoice</p>
      <input type ="file" id="invoice"/>
      <md-button class="md-raised" ng-click = "upFile('invoice','documentID1')">Upload Now</md-button>
      <h6> {{$scope.dispatchOrderDetails.documentID1}}</h6>
      <md-button class="md-raised" ng-click = "downFile()">Download</md-button> 
</md-list-item>
<md-divider ></md-divider>
<md-list-item>
    <p> Esugam</p>
    <md-button class="md-raised">Select</md-button>
    <md-button class="md-raised" ng-click = "uploadFile()">Upload</md-button>   
    <md-button class="md-raised" >Download</md-button>   
</md-list-item>
<md-divider ></md-divider>
<md-list-item>
    <p> LR</p>
    <md-button class="md-raised">Select</md-button>
    <md-button class="md-raised">Upload</md-button>   
    <md-button class="md-raised">Download</md-button>   
</md-list-item>
<md-divider ></md-divider>
<md-list-item>
    <p> ETC</p>
    <md-button class="md-raised">Select</md-button>
    <md-button class="md-raised">Upload</md-button>   
    <md-button class="md-raised">Download</md-button>   
</md-list-item>
  </md-card-content>
</md-card>

<md-card flex>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Actions</span>
      </md-card-header-text>
  </md-card-header>
  <md-card-content>

</md-card>
</div>

<div layout = "row" >
  <md-card flex>
     <md-card-header>
      <md-card-header-text>
        <span class="md-title">Create Asset</span>
      </md-card-header-text>
  </md-card-header>
    <md-list-item layout-padding>
    <input type ="file" on-read-file="showContent($fileContent)"/>

     
    <md-button class="md-raised" ng-click = "createAsset()" >Create Assest</md-button>  
    </md-list-item>
    <div layout-padding>
    <table class="table" ng-if="content">
    <thead>
      <tr>
        <th>assetId</th> 
        <th>partNumber</th>
        <th>partDescription</th>
        <th>batchNumer</th>
        <th>manufactureDate</th>
        <th>itchs</th>
        <th>exciseChaperNumber</th>
       </tr> 
    </thead>
    <tr ng-repeat="asset in assetList">
      <td>{{ asset.assetId }}</td>
      <td>{{ asset.partNumber }}</td>
      <td>{{ asset.partDescription }}</td>
      <td>{{ asset.batchNumer }}</td>
      <td>{{ asset.manufactureDate | date:'medium' }}</td>
      <td>{{ asset.itchs }}</td>
      <td>{{ asset.exciseChaperNumber }}</td>
    </tr>
    </table>
    </div>


  </md-card>
</div>

<div layout = "row">
<md-card flex>
     <md-card-header>
      <md-card-header-text>
        <span class="md-title">Map Asset</span>
      </md-card-header-text>
  </md-card-header>
  <md-list-item layout-padding>      
      <md-button class="md-raised" ng-click = "getAsset()"> Get Open Asset</md-button>
      <md-button class="md-raised"> Mapp Asset</md-button>      
   </md-list-item>
    <div layout-padding>
    <table class="table">
    <thead>
      <tr>
        <th> select </th>
        <th>assetId</th> 
        <th>partNumber</th>
        <th>partDescription</th>
        <th>batchNumer</th>
       </tr> 
    </thead>
    <tr ng-repeat="getasset in getAssetList">
      <td> <md-checkbox> </md-checkbox> </td> 
      <td>{{ getasset.assetId }}</td>
      <td>{{ getasset.partNumber }}</td>
      <td>{{ getasset.partDescription }}</td>
      <td>{{ getasset.batchNumer }}</td>
    </tr>
    </table>
    </div> 

</md-card>
</div>


<div class="container">
  <h2>History</h2>          
  	<table class="table">
    	<thead>
      	<tr>
        <th>orderId </th>
        <th>stage</th>
        <th>timestamp</th>
        <th>transactionDescription</th>
      	</tr>
    	</thead>
  		<tr ng-repeat="contract in contractHisory">
    	<td>{{ contract.orderId }}</td>
    	<td>{{ contract.stage }}</td>
    	<td>{{ contract.timestamp | date:'medium' }}</td>
    	<td>{{ contract.transactionDescription }}</td>
  		</tr>
	</table>

</div>	


</div>	