<div>  

<md-toolbar>
      <div class="md-toolbar-tools">
        <md-button
        class="md-icon-button"
        aria-label="Settings">
        <md-icon md-svg-icon="img/icons/ic_menu_white_48px.svg"></md-icon>
      </md-button>
        <h5>List of Dispatch Orders</h5> 
        <md-input-container layout="center center" layout-padding md-no-float>
                   
                    <input ng-model="dispatchOrderId"
                       class="md-input"
                       ng-change="gridActions.filter()"
                       id="dispatchOrderId"
                       filter-by="dispatchOrderId"
                       placeholder ="Search by Order #" 
                       filter-type="text"
                       aria-invalid="false"
                       style="border-color: white; color: white">    
        </md-input-container>

        <span flex></span>
        <md-button ng-if="show" class="md-raised" href="#/createOrder">
            Create Dispatch Order
            </md-button>

        <md-button class="md-raised md-warn" aria-label="Learn More" ng-click= "reload()">
          Reload
        </md-button>

        <md-button class="md-icon-button md-accent" aria-label="Logout" ng-click="logout()">
          <md-icon md-svg-src="img/icons/ic_account_circle_white_48px.svg"></md-icon>
        </md-button>
        {{userName}}
      </div>

</md-toolbar>
<!--
<hr> </hr>
<div>
    <md-card layout-padding> 
        <div layout="row" layout-align="left center">
            <div>
                <md-input-container >
                    <input ng-model="dispatchOrderId"
                       class="md-input"
                       ng-change="gridActions.filter()"
                       id="dispatchOrderId"
                       placeholder="Search by Order #"
                       filter-by="dispatchOrderId"
                       filter-type="text"
                       aria-invalid="false">
                </md-input-container>
            </div>
            
            <div>
                <md-datepicker ng-model="dateFrom"
                               md-placeholder="From Date"
                               is-open="dateFromOpened"
                               ng-click="dateFromOpened = true"
                               filter-by="placed"
                               filter-type="dateFrom"
                               ng-change="gridActions.filter()"></md-datepicker>
            </div>
            <div>
                <md-datepicker ng-model="dateTo"
                               md-placeholder="To Date"
                               is-open="dateToOpened"
                               ng-click="dateToOpened = true"
                               filter-by="placed"
                               filter-type="dateTo"
                               ng-change="gridActions.filter()"></md-datepicker>
            </div>
            <div> 
            <md-button ng-if="show" class="md-raised md-primary" href="#/createOrder">
            Create Dispatch Order
            </md-button>
        </div>
    </md-card>
</div>

<hr> </hr> -->

<md-card layout-padding>
<div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
<div layout-gt-sm="row" layout-sm="column" layout-align="center">
    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
        <span>{{filtered.length}} items total</span>
    </div>
    <div flex-gt-sm="75" flex-xs="100">
        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
            <grid-pagination max-size="5"
                             boundary-links="true"
                             class="pagination mdl-shadow--2dp"
                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                             total-items="paginationOptions.totalItems"
                             ng-model="paginationOptions.currentPage"
                             ng-change="reloadGrid()"
                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                    <md-option>10</md-option>
                    <md-option>25</md-option>
                    <md-option>50</md-option>
                    <md-option>75</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>    
    
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
            <th sortable="dispatchOrderId" class="sortable mdl-data-table__cell--non-numeric">
                <span>Orderid #</span>
            </th>
             <th sortable="stage" class="sortable mdl-data-table__cell--non-numeric">
                <span>Stage</span>
            </th>
            <th sortable="customer" class="sortable mdl-data-table__cell--non-numeric">
                <span>Customer</span>
            </th>
            <th sortable="contractType" class="sortable mdl-data-table__cell--non-numeric">
                <span>Order Type</span>
            </th>
            <th sortable="shipmentType" class="sortable mdl-data-table__cell--non-numeric">
                <span>Shipment Type</span>
            </th>
            <th sortable="partNumber" class="sortable mdl-data-table__cell--non-numeric">
                <span>Part Number</span>
            </th>
            <th sortable="partName" class="sortable mdl-data-table__cell--non-numeric">
                <span>Part Name</span>
            </th>
            <th sortable="dispatchDatedispatchDate" class="sortable mdl-data-table__cell--non-numeric">
                <span>Dispatch Date</span>
            </th>
            <th>
            <span>Select</span>
            </th>
            
        </tr>
        </thead>
        <tbody>
          <tr grid-item>
            <td class="mdl-data-table__cell--non-numeric">
                <span ng-bind="item.dispatchOrderId"></span>
            </td>
            <td ng-bind="item.stage"> </td>
            <td ng-bind="item.customer"> </td>
            <td ng-bind="item.contractType"> </td>
            <td ng-bind="item.shipmentType"> </td>
            <td ng-bind="item.partNumber"> </td>
            <td ng-bind="item.partName"> </td>
            <td ng-bind="item.dispatchDate"> </td>
            <td>
                <md-button ng-click= "goPath(item.dispatchOrderId)"> Select </md-button>  

            </td>

        </tr>
        </tbody>
    </table>
    
</div>
</div>


</div>
</md-card>
</div>
	
