<div> 
	 <md-toolbar layout="row" layout-align="end center" class="md-primary">
	        <div class="md-toolbar-tools">
	            <span>Login Page</span>
	        </div>
	 </md-toolbar>

<div layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
	<md-card layout-margin layout-padding flex="flex" flex-gt-sm="50" flex-gt-md="33">
		<md-card-title>
	      	<md-card-title-text>	
	        	<span class="md-headline">User Login</span>
	      	</md-card-title-text>
	    </md-card-title>
		<md-card-content layout="column">
			<md-input-container class="md-block" flex >
                  <label>Hyperledger Address</label>
                  <md-select name="type" ng-model="login.peer">
                    <md-option value="localhost">localhost</md-option>
                    <md-option value="32.210.162.19">AWS</md-option>
                  </md-select>
            </md-input-container>
             <md-input-container class="md-block" flex >
                  <label>User Peer</label>
                  <md-select name="type" ng-model="login.port">
                    <md-option value="7050">Peer 1</md-option>
                    <md-option value="8050">Peer 2</md-option>
                    <md-option value="9050">Peer 3</md-option>
                    <md-option value="10050">Peer 4</md-option>
                  </md-select>
             </md-input-container>
             <md-input-container  class="md-block" flex>
	            <label>Username</label>
	            <input class="md-input" ng-model="login.userName" >
	       	</md-input-container>
	          <md-input-container  class="md-block" flex>
	            <label>Password</label>
	            <input class="md-input" type="password" ng-model="login.password" >
	          </md-input-container>
		</md-card-content>
		<md-card-actions>
	          <md-button class="md-raised md-primary" ng-click= "loginUser()">Login</md-button>
	    </md-card-actions>      

	</md-card>
</div>

</div>